@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62%;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: rgb(32, 32, 32);
  color: white;
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  padding-top: 1.5rem;
  margin-top: 0;
  background-color: rgba(32, 32, 32, 0.955);
}
header a {
  font-size: 3rem;
  color: cornflowerblue;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}
header a:hover {
  transform: scale(1.5);
}
header nav a {
  font-size: 1.8rem;
  color: darkgray;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
}
header nav a:hover {
  padding: 1rem;
  border-radius: 0.5rem;
  border-bottom: 0.5rem;
  color: darkkhaki;
  border: 1px solid;
  background-color: rgb(40, 40, 40);
}

footer {
  position: fixed;
  font-size: 1.4rem;
  font-weight: 2rem;
  bottom: 0;
  width: 100%;
  background-color: rgba(32, 32, 32, 0.955);
  text-align: center;
  padding: 0.5rem;
  z-index: 1000;
}
footer nav a {
  position: relative;
  display: inline-block;
  align-items: start;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 2.3rem;
  z-index: 100;
  transition: transform 0.3s ease;
  color: cornflowerblue;
}
footer nav a:hover {
  transform: translateY(-5px);
}
footer .sourcecode {
  color: rgb(255, 248, 157);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: transparent;
}
.about .about-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}
.about .about-content h1 span {
  color: cornflowerblue;
}
.about .about-content h3 {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.about .about-content h3 span {
  position: relative;
  color: rgb(255, 248, 157);
}
.about .about-content h3 span::after {
  content: "";
  background-color: transparent;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid transparent;
  right: -8;
  animation: cursor 0.6s infinite;
}
.about .about-content p {
  margin-top: 5rem;
  font-size: 1.8rem;
  font-weight: 300;
}
.about .about-content p a {
  color: cornflowerblue;
  border-bottom: 0.3rem;
  border-bottom: 1px solid;
}
.about .about-img {
  border-radius: 50%;
}
.about .about-img img {
  position: relative;
  width: 20vw;
  border-radius: 20%;
  box-shadow: 0 0 15px cornflowerblue;
  transition: 0.3s ease;
}
.about .about-img img:hover {
  box-shadow: 0 0 10rem cornflowerblue;
  transform: scale(1.02);
}

.work {
  padding: 10rem 15rem;
  text-align: center;
}
.work h2 {
  font-size: 7rem;
  margin-bottom: 3rem;
  color: rgb(255, 248, 157);
}
.work .work-card {
  background-color: rgb(21, 21, 21);
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 2rem;
  text-align: left;
  border: 1px solid;
  border-width: 1px;
  border-color: rgb(108, 108, 108);
  box-shadow: 0 4px 10x rgba(0, 0, 0, 0.5);
}
.work .work-card .work-header {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.work .work-card .work-header img {
  width: 100px;
  height: 100px;
  margin-right: 1rem;
}
.work .work-card .work-header .work-title h3 {
  font-size: 3rem;
  margin: 0;
  color: white;
}
.work .work-card .work-header .work-title a {
  font-size: 2rem;
  color: #5fa855;
  text-decoration: none;
}
.work .work-card .work-header .work-title p {
  font-size: 1.5rem;
  color: #aaa;
}
.work .work-card .work-description {
  font-size: 1.9rem;
  color: #ccc;
  line-height: 1.5;
}
.work .work-card .work-description .view-more-btn {
  background-color: cornflowerblue;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
  margin-left: auto;
  /* This pushes it to the right */
}
.work .work-card .work-description .view-more-btn:hover {
  background-color: rgb(0, 89, 255);
  transform: scale(1.1);
}
.work .work-card .work-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.work .work-card .work-tags span {
  background-color: #2e2e2e;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  font-size: 1.2rem;
  margin-top: 1rem;
  color: #89caff;
}

.projects {
  padding: 5rem 2rem;
  text-align: left;
}
.projects h2 {
  color: rgb(255, 248, 157);
  font-size: 6rem;
  text-align: center;
}
.projects h4 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.projects h4 a {
  color: rgb(183, 177, 91);
  font-size: 1.5rem;
  border-bottom: 1px solid rgb(183, 177, 91);
  transition: all 0.3s ease;
}
.projects h4 a:hover {
  color: rgb(255, 248, 157);
}
.projects .project-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}
.projects .project-content .project-card {
  max-width: 400px;
  width: 100%;
  background-color: transparent;
  text-align: center;
}
.projects .project-content .project-card .project-card-main {
  background-color: transparent;
}
.projects .project-content .project-card .project-card-main .project-img {
  display: block;
  background-color: transparent;
}
.projects .project-content .project-card .project-card-main .project-img img {
  display: block;
  background-color: transparent;
  width: 400px;
  height: 350px;
  border-radius: 10%;
  border: 3px solid cornflowerblue;
  transition: all 0.3s ease;
}
.projects .project-content .project-card .project-card-main .project-img:hover img {
  transform: translateY(-10px);
  box-shadow: 0 0 25px cornflowerblue;
}
.projects .project-content .project-card .project-card-main a {
  color: cornflowerblue;
  font-size: 3rem;
  display: inline-block;
  margin-top: 1rem;
}
.projects .project-content .project-card .project-description {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.projects .project-content .project-card .project-description b {
  color: rgb(231, 83, 83);
}
.projects .project-content .project-card .languages {
  text-align: center;
}
.projects .project-content .project-card .languages span {
  font-size: 1.3rem;
  font-weight: 300;
  background-color: rgb(59, 58, 58);
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 20%;
  border: 2px solid #5fa855;
}

@keyframes cursor {
  to {
    border-left: 3px solid rgb(255, 248, 157);
  }
}
@media (max-width: 995px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1.5rem 5%;
  }
  header nav a {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
  section {
    padding: 5rem 5%;
  }
  .about {
    flex-direction: column;
    gap: 4rem;
    text-align: center;
  }
  .about .about-img img {
    width: 60vw;
  }
  .about .about-content h1 {
    font-size: 4rem;
  }
  .about .about-content h3 {
    font-size: 2.5rem;
  }
  .about .about-content p {
    font-size: 1.4rem;
  }
  .work {
    padding: 5rem 5%;
  }
  .work h2 {
    font-size: 5rem;
  }
  .work .work-card {
    padding: 1.5rem;
  }
  .work .work-card .work-header img {
    width: 70px;
    height: 70px;
  }
  .work .work-card .work-header .work-title h3 {
    font-size: 2.2rem;
  }
  .work .work-card .work-header .work-title a {
    font-size: 1.8rem;
  }
  .work .work-card .work-header .work-title p {
    font-size: 1.2rem;
  }
  .work .work-card .work-description {
    font-size: 1.4rem;
  }
  .work .work-card .work-tags span {
    font-size: 1rem;
  }
  footer {
    font-size: 1.2rem;
  }
  footer nav a {
    font-size: 2rem;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

/*# sourceMappingURL=styles.css.map */
